@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> The Music App</h1>
   <p>The first version of the Music app for CSIS 4135 - Spring 2016.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4">
                <a style="padding: 20px" href="/Genres" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-volume-up" aria-hidden="true"><br />Genres</span></a>

                 </div>
                <div class="col-md-8">
                    <p>
                        See what music <b>genres are available</b> and find albums in your favorite genre.

                        Add new genres.

                        New genres can be added here.<br />
                    </p>
                </div>
            </div>
            </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4">
                <a style="padding: 20px" href="/Albums" class="btn btn-success btn-lg btn-block"><span class="glyphicon glyphicon-book" aria-hidden="true"><br />Albums</span></a>

            </div>
            <div class="col-md-8">
                <p>
                    Browse the complete <b>catalog of albums</b>. Includes full information about the artist, genre, and price.

    Edit, delete, or add new albums here.<br />
</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4">
                <a style="padding: 20px" href="/Artists" class="btn btn-warning btn-lg btn-block"><span class="glyphicon glyphicon-star" aria-hidden="true"><br />Artists</span></a>

            </div>
            <div class="col-md-8">
                <p>
                    Browse the <b>artist list</b> to find your favorites and see what albums they have released.

                    Add new artists here.<br />
                </p>
            </div>
        </div>
    </div>
        </div>
